<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/fragments/layout :: htmlhead" th:with="title='Entry'"></head>
<body role="document">
<div th:replace="/fragments/layout :: navbar">(navbar)</div>
<div class="container">
    <p></p>
    <p>Welcome to the P&amp;C Spring Boot Service Sample Application.</p>
    <ul style="list-style-type:disc">
        <li><a th:href="@{/swagger-ui.html}">REST API</a></li>
        <li><a th:href="@{/actuator}">Actuator</a></li>
        <li><a th:href="@{/actuator/info}">Application info</a></li>
        <li><a th:href="@{/actuator/health}">Application health</a></li>
        <li><a href="https://git.swissre.com/projects/PCSS/repos/pcss-authdemo/browse" target="_blank">
            Git repository</a></li>
        <li><a href="http://bamboo.swissre.com/browse/PCCC-PCKSBS" target="_blank">Bamboo build project</a></li>
        <li><a href="http://bamboo.swissre.com/deploy/viewDeploymentProjectEnvironments.action?id=47218778"
               target="_blank">
            Bamboo deployment project</a></li>
        <li><a href="https://srw000001107.corp.gwpnet.com:9999/pingfederate/app" target="_blank">PingFederate 8.4 test instance</a></li>
        <li><a href="https://wiki.swissre.com/x/YbbUDg" target="_blank">Wiki page</a></li>
        <li><a th:href="@{${kibanaUrl}}" target="_blank">Kibana logs</a></li>
        <li><a th:href="@{/me}">About me</a></li>
        <li><a th:href="@{/accesstoken}">Access Token</a></li>
        <li><a th:href="@{/ltpa}">LTPA</a></li>
        <li><a th:href="@{/meontt}">Calling downstream tt/me</a></li>
        <li><a th:href="@{/myroles}">My roles</a></li>
        <li><a th:href="@{/headers}">Headers</a></li>
        <li><a th:href="@{/clearcache}">Clear signing key cache</a></li>
        <li>Go to the <a th:href="@{/protected}">Protected Area</a></li>
    </ul>
    <p>
    <p>User info: id: <span th:text="${user}">anonymous</span>, name: <span th:text="${firstName}">first name</span>
        <span th:text="${lastName}">last name</span>, email: <span th:text="${email}">email</span>
    </p>
    <p>Principal object: (<span th:text="${principal}">principal</span>)</p>
    </p>
</div>
</body>
</html>